.layout {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: var(--topnav-height);
  overflow: hidden;
  background-color: var(--color-bg-body);
}

.workspace {
  display: flex;
  flex: 1;
  position: relative;
  overflow: hidden;
}

.main {
  flex: 1;
  margin-left: var(--sidebar-width);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacing-6) 0 var(--spacing-4);
  overflow-y: auto;
}

.loading {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bg-body);
}
