.frame {
  display: inline-flex;
  border-radius: 20%;
  border: 1px solid var(--color-border);
  box-shadow: var(--shadow-sm);
  padding: 1px;
  flex-shrink: 0;
}

.avatar {
  border-radius: 20%;
  background-color: var(--avatar-bg-color, var(--color-primary-100));
  color: var(--avatar-fg-color, var(--color-primary-600));
}
