.layout {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: var(--topnav-height);
  overflow: hidden;
}

.workspace {
  display: flex;
  flex: 1;
  position: relative;
  overflow: hidden;
}

.main {
  flex: 1;
  margin-left: var(--sidebar-width);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.content {
  flex: 1;
  padding: 0 var(--spacing-6) var(--spacing-8) var(--spacing-4);
  overflow-y: auto;
}

.loading {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bg-body);
}

.spinner {
  width: 48px;
  height: 48px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
